<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= htmlWebpackPlugin.files.favicon %>">
  <title></title>
  <style>
    html {
      height: 100%;
    }

    body {
      height: 100%;
      margin: 0;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #111;
      background-color: #fcfcfc;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    p {
      margin: 0;
    }

    a {
      background-color: transparent;
      text-decoration: none;
      color: #0074d9;
    }

    a:focus,
    a:hover {
      color: #0059a6;
    }

    a:active,
    a:hover {
      outline: 0;
    }

  </style>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
